version: "3.0"

services:
  backend:
    build: "./backend"
    env_file: "./backend/.env"
    depends_on:
      - db
    links:
      - db
    ports:
      - "3000:3000"
  frontend:
    build: "./frontend"
    depends_on:
      - backend
    links:
      - backend
    ports:
      - "3001:80"
  db:
    image: "postgres:12.4-alpine"
    env_file: "./db/.env"
